@mixin box-shadow($x, $y, $blur, $color, $inset) {
	@if ($inset != "") {
    	-webkit-box-shadow: $inset $x $y $blur $color;
    		-moz-box-shadow:    $inset $x $y $blur $color;
		    	box-shadow:         $inset $x $y $blur $color;
  	} @else {
	    -webkit-box-shadow: $x $y $blur $color;
		    -moz-box-shadow:    $x $y $blur $color;
			    box-shadow:         $x $y $blur $color;
  	}
}